<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load my_filters %} <!-- не забываем заранее загружать наши фильтры! -->
<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
<h1 align="left">{{ news.title }}</h1>
<h1 align="left">{{ news.dateCreation|date:'d-F-Y h:i' }}</h1>
<h1 align="left">{{ news.text }}</h1>
{% endblock content %}